In [2]:
import pandas
import matplotlib
import numpy as np

First, read the data set in:

In [3]:
df = pandas.read_csv('../raw-data/full_stackoverflow_survey_results.csv')
len(df)

51392

Next, get only the survey entries that provided salary information:

In [14]:
all_with_salary = df[df['Salary'].notnull()]
len(all_with_salary)

12891

Since we don't have a lot of data for all the big list of countries, we'll just look at those in the U.S.

In [22]:
us_salaries = all_with_salary[all_with_salary['Country'] == 'United States']
len(us_salaries)

3781

Extract the columns we're going to use as features in our learning algorithms:

In [23]:
features_df = all_with_salary[['FormalEducation',
                               'CompanySize', 
                               'CompanyType',
                               'YearsCodedJob']]

This leaves us with a features data frame that looks like the following:

In [24]:
features_df.shape

(12891, 4)

In [25]:
features_df.head(5)

,FormalEducation,CompanySize,CompanyType,YearsCodedJob
2,Bachelor's degree,"10,000 or more employees",Publicly-traded corporation,20 or more years
14,Professional degree,"5,000 to 9,999 employees",Publicly-traded corporation,20 or more years
17,Bachelor's degree,"1,000 to 4,999 employees",Publicly-traded corporation,20 or more years
18,Bachelor's degree,"10,000 or more employees",Publicly-traded corporation,3 to 4 years
22,Bachelor's degree,500 to 999 employees,"Privately-held limited company, not in startup...",5 to 6 years

Now pull out our label (Salary) for each row we're going to analyze:

In [26]:
labels = all_with_salary['Salary']
labels.head(5)

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

Save our subset of the survey data for use in our machine learning notebooks:

In [27]:
features_df.to_csv('../prepared-data/salary_features.csv', index=False, encoding='utf-8')
labels.to_csv('../prepared-data/salary_labels.csv', index=False, header=True, encoding='utf-8')