In [1]:
import pandas
import matplotlib
import numpy as np

First, read the data set in:

In [2]:
df = pandas.read_csv('../raw-data/full_stackoverflow_survey_results.csv')
len(df)

51392

Next, get only the survey entries that provided salary information:

In [3]:
all_with_salary = df[df['Salary'].notnull()]
len(all_with_salary)

12891

Extract the columns we're going to use as features in our learning algorithms:

In [4]:
features_df = all_with_salary[['Country', 
                               'FormalEducation', 
                               'MajorUndergrad', 
                               'HomeRemote', 
                               'CompanySize', 
                               'CompanyType',
                               'YearsCodedJob',
                               'DeveloperType',
                               'Gender',
                               'Race']]

This leaves us with a features data frame that looks like the following:

In [5]:
features_df.shape

(12891, 10)

In [6]:
features_df.head(5)

,Country,FormalEducation,MajorUndergrad,HomeRemote,CompanySize,CompanyType,YearsCodedJob,DeveloperType,Gender,Race
2,United Kingdom,Bachelor's degree,Computer science or software engineering,"Less than half the time, but at least one day ...","10,000 or more employees",Publicly-traded corporation,20 or more years,Other,Male,White or of European descent
14,United Kingdom,Professional degree,Computer engineering or electrical/electronics...,All or almost all the time (I'm full-time remote),"5,000 to 9,999 employees",Publicly-traded corporation,20 or more years,Embedded applications/devices developer,Male,White or of European descent
17,United States,Bachelor's degree,Computer science or software engineering,All or almost all the time (I'm full-time remote),"1,000 to 4,999 employees",Publicly-traded corporation,20 or more years,Web developer; Embedded applications/devices d...,Male,"Native American, Pacific Islander, or Indigeno..."
18,United States,Bachelor's degree,Computer science or software engineering,A few days each month,"10,000 or more employees",Publicly-traded corporation,3 to 4 years,Web developer,NaN,NaN
22,Israel,Bachelor's degree,Computer engineering or electrical/electronics...,A few days each month,500 to 999 employees,"Privately-held limited company, not in startup...",5 to 6 years,Other,Male,White or of European descent

Now pull out our label (Salary) for each row we're going to analyze:

In [7]:
labels = all_with_salary['Salary']
labels.head(5)

2     113750.0
14    100000.0
17    130000.0
18     82500.0
22    100764.0
Name: Salary, dtype: float64

Save our subset of the survey data for use in our machine learning notebooks:

In [9]:
features_df.to_csv('../prepared-data/salary_features.csv', index=False, encoding='utf-8')
labels.to_csv('../prepared-data/salary_labels.csv', index=False, header=True, encoding='utf-8')