First, load our prepared data from the StackOverflow survey:

In [12]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn import linear_model
from sklearn.model_selection import train_test_split

salary_features = pd.read_csv("../prepared-data/salary_features.csv")
salary_labels = pd.read_csv("../prepared-data/salary_labels.csv")

In [13]:
X_encoded = pd.get_dummies(salary_features)
X_train, X_test, Y_train, Y_test = train_test_split(X_encoded, salary_labels, test_size=0.2, train_size=0.8)

In [14]:
X_train.head(5)

,FormalEducation_Bachelor's degree,FormalEducation_Doctoral degree,FormalEducation_I never completed any formal education,FormalEducation_I prefer not to answer,FormalEducation_Master's degree,FormalEducation_Primary/elementary school,FormalEducation_Professional degree,FormalEducation_Secondary school,FormalEducation_Some college/university study without earning a bachelor's degree,"CompanySize_1,000 to 4,999 employees",...,YearsCodedJob_2 to 3 years,YearsCodedJob_20 or more years,YearsCodedJob_3 to 4 years,YearsCodedJob_4 to 5 years,YearsCodedJob_5 to 6 years,YearsCodedJob_6 to 7 years,YearsCodedJob_7 to 8 years,YearsCodedJob_8 to 9 years,YearsCodedJob_9 to 10 years,YearsCodedJob_Less than a year
3563,1,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2717,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,0,1,0
8919,0,0,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
8799,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,1
12333,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [15]:
Y_train.head(5)

              Salary
3563   105000.000000
2717    59139.784946
8919     3225.806452
8799    34090.909091
12333   92000.000000

In [20]:
print(X_train.shape)
print(Y_train.shape)
print(X_test.shape)
print(Y_test.shape)

# 51 features after one-hot encoding the categorical values (this may vary based on the data)

(10312, 51)
(10312, 1)
(2579, 51)
(2579, 1)

In [21]:
reg = linear_model.LinearRegression()
reg.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [22]:
reg.coef_

array([[ -3.21978675e+16,  -3.21978675e+16,  -3.21978675e+16,
         -3.21978675e+16,  -3.21978675e+16,  -3.21978675e+16,
         -3.21978675e+16,  -3.21978675e+16,  -3.21978675e+16,
         -2.14006659e+04,  -2.99259086e+04,  -1.56051560e+04,
         -2.18752961e+04,  -2.61911012e+04,  -2.07909684e+04,
         -2.14569474e+04,  -3.22941384e+04,  -2.57475593e+04,
         -2.42340098e+04,   1.88166115e+04,   2.23678490e+04,
          2.08923532e+04,   2.63733132e+04,   2.90237705e+04,
          2.17541023e+04,   4.04621096e+04,   2.01733216e+04,
          2.87794092e+04,   2.95177567e+03,   4.68532942e+04,
         -2.07736195e+04,   1.14623339e+04,   1.46227262e+04,
          2.17854306e+04,   1.96357225e+04,   2.86606994e+04,
          2.20078822e+04,   1.92179798e+04,   2.74498471e+04,
          3.00053702e+04,   2.85299482e+04,  -1.69173589e+04,
          3.90221839e+04,  -1.17044951e+04,  -5.94795658e+03,
         -3.74507283e+03,   7.43923729e+02,   2.46367563e+03,
          8.27878516e+03,   7.94275238e+03,  -2.22676978e+04]])

In [24]:
reg.score(X_test, Y_test)

0.31166799679877466