First, load our prepared data from the StackOverflow survey:

In [64]:
import pandas as pd
import numpy as np
from sklearn import preprocessing
from sklearn import linear_model
from sklearn.model_selection import train_test_split

salary_features = pd.read_csv("../prepared-data/salary_features.csv")
salary_labels = pd.read_csv("../prepared-data/salary_labels.csv")

In [65]:
X_encoded = pd.get_dummies(salary_features)
X_train, X_test, Y_train, Y_test = train_test_split(X_encoded, salary_labels, test_size=0.2, train_size=0.8)

In [66]:
X_train.head(5)

,Country_Afghanistan,Country_Albania,Country_Anguilla,Country_Argentina,Country_Armenia,Country_Australia,Country_Austria,Country_Azerbaidjan,Country_Bahrain,Country_Bangladesh,...,Race_Middle Eastern; White or of European descent; I don’t know; I prefer not to say,"Race_Native American, Pacific Islander, or Indigenous Australian","Race_Native American, Pacific Islander, or Indigenous Australian; I don’t know","Race_Native American, Pacific Islander, or Indigenous Australian; White or of European descent",Race_South Asian,Race_South Asian; White or of European descent,Race_White or of European descent,Race_White or of European descent; I don’t know,Race_White or of European descent; I don’t know; I prefer not to say,Race_White or of European descent; I prefer not to say
2038,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1008,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1091,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
9952,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
7517,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [67]:
Y_train.head(5)

             Salary
2038   32098.765432
1008   90206.185567
1091  120000.000000
9952   16666.666667
7517   64102.564103

In [68]:
print(X_train.shape)
print(Y_train.shape)
print(X_test.shape)
print(Y_test.shape)

# 1244 features after one-hot encoding the categorical values (this may vary based on the data)

(10312, 1244)
(10312, 1)
(2579, 1244)
(2579, 1)

In [70]:
reg = linear_model.LinearRegression()
reg.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [71]:
reg.coef_

array([[  2.45785655e+15,   2.45785655e+15,   2.45785655e+15, ...,
         -1.42119104e+04,   1.95306462e+03,  -2.15786644e+03]])

In [72]:
reg.score(X_test, Y_test)

-7.7448250875164941e+23